#game {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 100px 100px;
	width: 300px;
	height: 300px;
}

.grid-item {
	font-size: 80px;
	text-align: center;
	border: 1px dashed;
}

#reset {
	width: 300px;
	height: 50px;
}